.content {
	width: calc(~'100% - 300px');
	min-width: 300px;
}

.main.AppBar {
}
.Goods {
	padding-top: 64px;
}


.grid-tile {
	.img {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
	}
}
