body {
	height: 200vh;
}

.index {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: #fcc;
	width: 100vw;
	height: 100vh;
}

.XD {
	position: fixed;
	img {
		max-width: 30vw;
		max-height: 30vh;
	}
}
